[submodule "light_python_wrapper"]
	path = light_python_wrapper
	url = https://github.com/pace-neutrons/light_python_wrapper.git
[submodule "euphonic_sqw_models"]
	path = euphonic_sqw_models
	url = https://github.com/pace-neutrons/euphonic_sqw_models
